.foot{
    background-color: black;
    text-align: justify;
    text-align-last: center;
    margin:auto;
    font-weight: 200;
    padding-bottom: 2em;
}

.foot p{
    color:white;
    padding:2em;
    line-height: 2;
    width:80%;
    margin: auto;
}

.foot a{
    color:rgb(162, 214, 240);
    text-decoration: none;
    margin-right:0.5em;
    padding:0.2em;
    cursor: pointer;

}
.foot a :last-child{
    border-right: none;
}

.foot a:hover,.foot a:active{
    color: white;
}